@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Signika+Negative:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');

body{
    /* background-image:linear-gradient( rgb(248, 1, 22) ,rgb(255, 136, 136), rgb(248, 1, 22)); */
    background-color: black;
}

.logo{
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
}

h1{
    margin: 12px 0px;
    font-size: 30px;
    font-family: 'Signika Negative', sans-serif;
    text-align: center;
    padding: 0px 0px 17px 0px;
    color: rgb(255, 255, 255);
}
.content{
    max-height: 70vh;
    margin: 0;
}

.container{
    display: inline-block;
    width: 65%;
    border: 2px solid black;
    border-radius: 13px;
    padding: 33px;
    height: 55vh;
    /* Very imp to bring ruler   */
    overflow-y: auto;
    margin-bottom: 23px;
    position: relative;
    margin-left: 9vh;
    background-image: url(/static/background.jpg);
    background-size: contain;
}

.message{
    background-color: white;
    width: fit-content;
    min-width: 24%;
    max-width: 41%;
    padding: 10px;
    margin: 8px 12px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 18px;
    font-family: 'Baloo Bhai 2', cursive;
}

.message h3{
    font-size: 20px;
    margin:-7px 0px -3px 0px;
    /* font-family: cursive; */
}

.message p{
    margin: 5px 0px -7px 0px;
    font-size: 18px;
}

.join-left{
    background-color: rgb(212, 206, 206);
    border: 1px solid rgb(145, 137, 137);
    border-radius: 10px;
    min-width: 24%;
    width: fit-content;
    max-width: 70%;
    padding: 10px;
    margin: 17px 12px;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.left{
    float: left;
    /* clear both so that no other floating element comes in the same row */
    clear: both;
    background-color: rgb(46, 243, 243);
}

.right{
    float: right;
    clear: both;
    background-color: rgb(108, 255, 108);
}

.center{
    clear: both;
    text-align: center;
    margin: 17px auto;
}

.online-box{
    font-family: 'Lora', serif;
    background-color: white;
    border: 2px solid black;
    border-radius: 12px;
    height: fit-content;
    max-height: 70vh;
    overflow-y:auto ;
    width: 15%;
    float: right;
}

.online-box h2{
    margin: 10px 0;
    text-align: center;
    font-size: 30px;
}

.onlineUser{
    margin-left: 13px;
    margin-bottom: 10px;
    font-size: 23px;
}

.onlineUser svg{
    margin: 0 5px;
}

.online-list{
    display: none
}

.online-list-btn{
    border-radius: 73px;
    background: white;
    height: 70px;
    width: 70px;
    background-image: url('/static/online-logo.png');
    background-size: contain;
    margin: 0px 24px 19px 0px;
}

#send-container{
    display: block;
    max-width: 1085px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#messageInp{
    width: 80%;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
    font-size: 19px;
}

.btn{
    width: 9%;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
    margin: 0 5px;
    min-width: 47px;
}

/* UTILS */
.display-block{
    display: block !important;
}

.display-none{
    display: none !important;
}

/* Responsive  */
/* for chat list  */
@media screen and (max-width:1000px) {
    .container{
        margin: 10px auto;
        width: 80%;
    }
    .content {
        display: flex;
        flex-direction: column-reverse;
        position: relative;
    }
    .online-list-btn{
        z-index: 2;
    }
    
    .online-list{
        display: flex;
        justify-content: end;
    }
    .online-box{
        display: none;
        position: fixed;
        right: 3px;
        top: 3px;
        width: 230px;
        /* margin: 0px 10px; */
        z-index: 1;
        border: 4px solid black;
    }
    .online-box h2{
        margin: 10px 20px;
        text-align: initial;
        font-size: 24px;
    }
    .join-left{
        max-width: 94%;
    }
    .message{
        margin: 8px -17px;
        padding: 7px;
        max-width: 70%;
        font-size:20px;
    }
    .message p{
        margin: 0px 0px -8px 0px;
    }
    h1{
        margin: 25px 0px;
    }
    .logo{
        margin: 17px auto;
    }
    .online-list-btn{
        position: fixed;
        top: 13px;
        right: -12px;
    }
    .content{
        max-height: 67vh; ;
    }
}

/* for phone  */
@media screen and (max-width:452px) {
    .message{
        padding: 2px 0px 0px 9px;
    }
    .container{
        background-size: cover;
        background-position: center;
        width: 80%;
    }
    .logo {
        margin: 17px 9px;
    }
    .message h3{
        margin: -5px 11px -3px 0px;
    }
    .message p {
        margin: 0px 0px -1px 0px;
    }
}

/* for phone  */
/* @media screen and (max-width:356px) {

    .container{
        background-size: cover;
        background-position: center;
        width: 80%;
    }
    .message{
        padding: 2px 0px 0px 9px
    }
} */